/* Project: Web desing for Construcciones Manin, S.L - Author: Jose Maria Rico Leal */

 /*-----Common settings across all pages--------------------------*/
*{margin:0} 

html, body{	
height: 100%;   
}

#wrapper {
float: left;
width: 100%;
min-height: 170%;/*Footer adjustment*/
padding-bottom: 120px;
box-sizing: border-box;	
}

#wrapper_1 {
float: left;
width: 100%;
min-height: 200%;/*Footer adjustment*/
padding-bottom: 120px;
box-sizing: border-box;	
}

@font-face {
font-family: Pattaya;
src: url(assets/fonts/Pattaya-Regular.ttf);
src: url(../fonts/Pattaya-Regular.ttf);
}

@font-face {
font-family: Roboto;
src: url(assets/fonts/RobotoCondensed-Regular.ttf);
src: url(../fonts/RobotoCondensed-Regular.ttf);
}

body{
background: #F5F5DC;
}

.responsive{
max-width: 100%;
height: auto;
}

/*-------------------------Header---------------------------------*/
.clear{
clear:both;
}

.wrap{
width:80%;
margin:0 auto;
}

.header{
background: url(../images/box1.png) repeat-x;
}

.header-top{
padding: 13px 0 30px 0;
}


.logo{
float:left;
max-width: 50%;
padding-top: 1vw;
}

.contact-info{
float:right;
padding-top: 0.6vw;
width: 35%;
padding-top: 1vw;
}

.contact-info p{
font-family: Roboto;
font-size: 1.2vw;
font-weight: 400;
color:black;
text-transform: uppercase;
}

.contact-info p a{

color:#d1d8e1;
transition: 0.5s ease;
-o-transition: 0.5s ease;
-webkit-transition: 0.5s ease;
}

.contact-info p a:hover{
color:#3B3B3B;
}

.header-top-nav ul li{
display: inline-block;
border-left: 1px solid rgba(85, 85, 85, 0.41);
float: left;
}


.header-top-nav ul li a{
color: #d1d8e1;
font-family: Roboto;
font-size: 0.9vw;
font-weight: 400;
text-transform: uppercase;
display: block;
padding: 11px 95.5px;
transition: 0.5s ease;
-o-transition: 0.5s ease;
-webkit-transition: 0.5s ease;
}

@media screen and (max-height: 769px) {
  .wrap{
width:100%;
margin:0 auto;
}
.header-top-nav ul li{
display: inline-block;
border-left: 1px solid rgba(85, 85, 85, 0.41);
float: left;
}
.header-top-nav ul li a{
color: #d1d8e1;
font-family: Roboto;
font-size: 0.9vw;
font-weight: 400;
text-transform: uppercase;
display: block;
padding: 11px 20px;
transition: 0.5s ease;
-o-transition: 0.5s ease;
-webkit-transition: 0.5s ease;
}

}



.header-top-nav li.active> a, .header-top-nav li> a:hover {
color: #9ca8ac;
background: #6e7a79;
}

.header-top-nav{
background: url(../images/nav_bar.png) repeat-x;
}

.phone:before{
content: url(../images/phone.png);
vertical-align: middle;
padding: 0px 5px 0px 0px;
max-width: 100%;
height: auto;
}
.gpa:before{
content:url(../images/pointer.png);
vertical-align: middle;
padding: 0px 5px 0px 0px;
max-width: 100%;
height: auto;
}
.spain:before{
content: url(../images/spain.png);
vertical-align: middle;
padding: 0px 5px 0px 0px;
max-width: 100%;
height: auto;
}
.uk:before{
content: url(../images/uk.png);
vertical-align: middle;
padding: 0px 5px 0px 0px;
max-width: 100%;
height: auto;

}

.envelope:before{
content: url(../images/envelope.png);
vertical-align: middle;
padding: 0px 5px 0px 0px;
max-width: 100%;
height: auto;

}



/*------------------------------FOOTER----------------------------------------------------*/

footer{
float: left;
width: 100%;
height: 140px;
background: #232520;
margin-top: -130px;	/**Keep an eye on this**/
}

.column{
float:left;
width: 33.33%;
font-family: Roboto;
color:#d1d8e1;
}

.row:after {
content: "";
display: table;
clear: both;
}

#column_1{
font-size: 0.4vw;
text-align: center;
padding-top: 1vw;
}

#column_1 p{
font-size: 0.8vw;
}

#logo-format-trip img{
list-style-type: none;
border: 5px solid #ddd;
display: block;
margin-left: auto;
margin-right: auto;
}

#column_2{
font-size: 0.4vw;
text-align: center;
padding-top: 3px;
padding-top: 40px;
}

#column_3{
font-size: 1vw;/*Icon size*/
text-align: center;
padding-top: 1vw;
}

#column_3 h1{
font-size: 0.9vw;
}	

.fa {
padding: .7vw;
width: 1.3vw;
text-align: center;
text-decoration: none;
border-radius: 50%;

}

.fa:hover {
opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-instagram {
background: #FF33E9;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}

.fa-youtube {
background: #FF334F;
color: white;
}

.fa-linkedin {
background: #3337FF;
color: white;
}

/*Column_1 & Column_2 text adjustment when the scren changes height*/
@media screen and (max-height: 769px) {
#column_1{
font-size: 0.4vw;
text-align: center;
padding-top: 3vw;
}

#column_3{
font-size: 1vw;/*Icon size*/
text-align: center;
padding-top: 3vw;
}	
}
/*-----------------------------------------------------------Página de Inicio-----------------------------------------------------*/

.home_title {
text-align: center;
font-size:1.5vw;
font-weight:bold;
margin: auto auto 1% auto;
font-family: Roboto;
}
 
#home_format {
float: left;
text-align: center;
margin: 0 0 2% 0%;
border-right: solid;
padding: 1%;
font-family: Roboto;
font-size: 1.1vw;
max-width: 40%;
height: auto;
}

#home_format  > dl {
padding: 0 5% 0 5%;
text-align: center;
}

#home_format  > dl > dt {
margin: 4% 7% 4% 7%;
font-weight: bold;
}

#vision {
text-align: center;
font-size: 1.1vw;
font-family: Roboto;
}
   
.ini_format {
max-width: 50%;
float: right;
right: 8vw;
position: relative;
display: inline-block;
box-sizing: border-box;
padding: 1%;
font-family: Roboto;
text-align: center;
}

#home_format>img{
padding-bottom: 1.5%;
padding-top: 1.5%;
border-radius: 10%;	
}

#vision>img{
padding-bottom: 1.5%;
padding-top: 1.5%;
border-radius: 10%;	
}

.ini_format em{
color:#000000; 	
}

/*-----------------------------------------------------------Obras/Servicio-------------------------------------------------*/

section.section_1 {
float: left;
text-align: center;
padding: 1%;
font-family: Roboto;
max-width: 40%;
height: auto;
left: 10vw;
padding-top: 5vw;
position: absolute;
display: inline-block;
box-sizing: border-box;
}

section.section_1 >  h1 {
font-size: 1.8vw;
}
     
section.section_1 >  h2 {
font-size: 1.1vw;
}

section.section_1  ul >li {
text-align: left;
color:#000000;
font-size: 1.1vw;
}

section.section_1 a {
text-align:left; 
font-size: 1.1vw;
color:#000000;
}
            
.slideshow-container {
position: relative;
margin: auto;
}

section.section_1 img{
border: 5px solid #9ca8ac;
padding-bottom: 0%;
padding-top: 0%;
border-radius:0%;
max-width: 100%;
height: auto;


}

.text {
color: white;
font-size: 1.5vw;
padding: 5px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

.numbertext {
color: #000000;
font-size: 1vw;
padding:  .25vw 4.8vw;
position: absolute;
top: 0;
}

.numbertext1 {
color: #ffffff;
font-size: 1vw;
padding: .25vw 4.8vw;
position: absolute;
top: 0;
}

.dot {
height: 1vw;
width: 1vw;
margin: 0 2px;
background-color: #9ca8ac;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
text-align:center;
}

.active {
background-color: #717171;
}

.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;

}

@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@keyframes fade {
from {
opacity: .4
} 
to {
opacity: 1
}
}
aside.things_to_services {
padding-top: 50vw;
float: right;
right: 10vw;
display: inline-block;
position: relative;
box-sizing: border-box;
max-width: 35%;
padding: 1%;
font-family: Roboto;
font-size: 1vw;
padding-top: 5vw;
margin: 0 0 2% 0%;
border-left:  solid;
}

aside >a> img{
padding-bottom: 1.5%;
padding-top: 1.5%;
border-radius: 10%;	
}



/*------------------------------------------------Pagina de contacto----------------------------------------------------*/


#format_h2>h2 {
font-family:Roboto;
font-size: 1.2vw;
}

form{
width: 75%;
height: auto;
box-sizing: border-box;
float: center;
padding-left: 100vw;
font-family: Roboto;
font-size: 1.2vw;
padding: 10% 0% 0% 10%;
}

legend {
font-size: 3vw;
margin: 4%;
}

label.field {
text-align: right;
width: 8vw;
margin: vw;
font-weight: bold;
font-size: 1.2vw;
font-family: Roboto;
}

input{
font-size: 1.2vw;
float: right;
width: 15vw;
margin-right: 2%;
font-family: Roboto;
}

.submit_button {
box-sizing: border-box;
padding: 1%;
margin-top: 1%;
color: #9ca8ac;
font-weight: bold;
font-size: .8vw;
width: 8vw;
background-color: #464e49;
}

textarea {
font-size: 1vw;
float: right;
width: 15vw;
height: 6vw;
margin-right: 5vw;
resize: none;
font-family: Roboto;
}

form > fieldset > p {
margin: 2% 0 2% 0;
}

#select{
position: absolute;
right: 42%;
color:orange;
font-family: Roboto;
font-size: 1.2vw;
}




